$font: "Outfit", sans-serif;
// Foreground
$black-main: #080014;
$black-light: #393242;
$black-extralight: #96929B;
$black-extraextralight: #CECDD0;
$white-main: #FFF;
$gray-main: #F4F4F4;
$gray-light: #FAFAFA;
$error-main: #FF475D;
$secondary-main: #9147FF;
$secondary-dark: #7539D0;

// Background/Links
$primary: #D5FF00;
$primary-light: #DEFF33;
$primary-extralight: #F1FBBE;
$secondary: #FAFAFA;
$secondary-light: #FFF;


